.pt_breaking_news_customfields label {
    width: 200px;
}

.pt_breaking_news_customfields .form-item {
    margin:0 0 15px 0;
}

#pt_expiry_date {
    height:0;
    opacity:0;
}

#pt_expiry_date.show {
    height:auto;
    opacity:1;
}